.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color: #ff136F;
}
.button-css{
    background-image:linear-gradient(to bottom,#ff589f 0%,#ff136f 100%);
    color:white;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor:progress;

}
.container{
    margin-bottom: 100px;
}