.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color: #ff136F;
}
.button-css{
    background-image:linear-gradient(to bottom,#ff589f 0%,#ff136f 100%);
    color:white;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor:progress;

}
.container{
    margin-bottom: 100px;
}
.cat-1,.cat-2,.cat-3{
 padding:10px 30px;
 border-radius: 10px;

}
.cat-1{
    background-image: linear-gradient(to top, blue 10%, green 90%);
}
.cat-2{
    background-image: linear-gradient(to top, yellow 20%, green 80% );
}
.cat-3{
    background-image: linear-gradient( to bottom, green 20%, blue 80%)
}
.categories h1{
    color: #FEEAE9;
    
}
.categories img{
    width:100px;

}
